<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ name }}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
</head>
<body>
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.jpg') }}">
        {{ name }}'s Watchlist
    </h2>
    <p>{{ movies|length }} Titles</p>
    <ul>
    <ul class="movie-list">
        {% for movie in movies %}
        <li>{{ movie.title }} - {{ movie.year }}</li>
        {% endfor %}
    </ul>
    <img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/65123727_1.gif') }}">
    <footer>
        <small>&copy; 2020 <a href="https://github.com/mangwu/Housingforecast" target="_blank">HelloFlask</a></small>
	</footer>
</body>
</html>